:root {
  --square-border-clr: #3a3a3c;
}

.board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  aspect-ratio: 1 / 1;
  width: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;

  border: 2px solid var(--square-border-clr);
}

.board-square.active {
  animation: square-pop 150ms;
}

.board-square.correct {
  background-color: green;
}

.board-square.misplaced {
  background-color: rgb(160, 136, 0);
}

@keyframes square-pop {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }
}