:root {
  --line-length: 5;
}

#input-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: calc(var(--line-length) * 55px + 40px);
  margin: 40px auto;
}